<div class="container mt-5">
  <div class="row">
    <div class="col-4">
      <div class="card" style="width: 15rem;">
        <img src="./assets/_img/gon.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card" style="width: 15rem;">
        <img src="./assets/_img/geral.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card" style="width: 15rem;">
        <img src="./assets/_img/gon-crying.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<main class="container-fluid m-4" style="min-height: 8rem;">
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil optio odit magni iusto exercitationem, vero maxime amet corrupti dolorem, temporibus voluptatem nisi beatae illo ipsa? Nulla, cupiditate. Cum, voluptates repudiandae.</p>
</main>
